{% extends 'base.html' %}

{% block content %}

	<div class="d-flex flex-column">
		  <p class="m-auto p-2">
		    Na tvůj zadaný email jsme poslali instrukce k nastavení tvého hesla. Pokud v ROBISu tento email existuje, měl by si je obdržet během několika chvil.
		  </p>
		  <p class="m-auto p-2">
		    Pokud si email neobdržel, ujistt se, že jsi zadal správný email a pro jistotu zkontroluj složku se SPAMI.
		  </p>
		  <p class="m-auto p-2"><a href="{% url 'home' %}">Vrať se na domovskou stránku</a></p>
	</div>

{% endblock %}